<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="default">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="readme">
            <file>./tests/ReadmeIntegration.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
